node-Red/control.json
[
    {
        "id": "15d3210919eaf7aa",
        "type": "tab",
        "label": "Control-UNIR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48b720a23d8da7e5",
        "type": "ui_switch",
        "z": "15d3210919eaf7aa",
        "name": "",
        "label": "Encendido",
        "tooltip": "",
        "group": "f0722cae572f1e20",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "comm/man/1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "comm/man/0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "abaca8897a5de43f"
            ]
        ]
    },
    {
        "id": "abaca8897a5de43f",
        "type": "mqtt out",
        "z": "15d3210919eaf7aa",
        "name": "2127592161",
        "topic": "painlessMesh/to/2127592161",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "text/plain",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf7066a317e8abe6",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "f10ee7c839d8b1c2",
        "type": "http response",
        "z": "15d3210919eaf7aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "1214f55970503dfa",
        "type": "http in",
        "z": "15d3210919eaf7aa",
        "name": "",
        "url": "/comandos",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "f10ee7c839d8b1c2"
            ]
        ]
    },
    {
        "id": "ca646dedd96d0b29",
        "type": "function",
        "z": "15d3210919eaf7aa",
        "name": "function 3",
        "func": "msg.payload = \"/comm/dimm/\"+ msg.payload[\"Dimm\"];\n\n return msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "abaca8897a5de43f"
            ]
        ]
    },
    {
        "id": "eefd13c63fc36159",
        "type": "ui_switch",
        "z": "15d3210919eaf7aa",
        "name": "",
        "label": "Activar Modo Radar",
        "tooltip": "",
        "group": "f0722cae572f1e20",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Default",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Radar",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "52cf697ee1baf1b2"
            ]
        ],
        "inputLabels": [
            "Default"
        ]
    },
    {
        "id": "52cf697ee1baf1b2",
        "type": "switch",
        "z": "15d3210919eaf7aa",
        "name": "modo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Radar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Default",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "23f5ecba49981054"
            ],
            [
                "7ed67e278d6db050"
            ]
        ]
    },
    {
        "id": "23f5ecba49981054",
        "type": "change",
        "z": "15d3210919eaf7aa",
        "name": "Modo default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/comm/def/ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "abaca8897a5de43f"
            ]
        ]
    },
    {
        "id": "7ed67e278d6db050",
        "type": "change",
        "z": "15d3210919eaf7aa",
        "name": "Modo radar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/comm/radar/ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "abaca8897a5de43f"
            ]
        ]
    },
    {
        "id": "ec4ceb3cc2a147c8",
        "type": "ui_form",
        "z": "15d3210919eaf7aa",
        "name": "",
        "label": "",
        "group": "f0722cae572f1e20",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "17:00:80,18:00:100",
                "value": "Dimm",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Dimm": ""
        },
        "payload": "",
        "submit": "Enviar programación Dimmer",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "ca646dedd96d0b29"
            ]
        ]
    },
    {
        "id": "38b24638dc8f30a2",
        "type": "inject",
        "z": "15d3210919eaf7aa",
        "name": "dimmx24h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "comm/dimm/17:50:10,18:57:9,19:29:9,20:50:7,21:50:7,22:50:7,23:7:10,00:50:10,01:50:10,02:50:10,03:50:10,04:50:10,05:50:10,06:50:10",
        "payloadType": "str",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "abaca8897a5de43f"
            ]
        ]
    },
    {
        "id": "f0722cae572f1e20",
        "type": "ui_group",
        "name": "Control luminaria 2127592161",
        "tab": "a34a564783e94fa6",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf7066a317e8abe6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "420cf56f94ee4084ba5ed3e62c26e923.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a34a564783e94fa6",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]
